 * {
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
 }

 .login {
     width: 100%;
     height: 25rem;
     text-align: center;
     background: url(../img/my/bg2.png) no-repeat 0 0;
     background-size: cover;
 }

 .login img {
     width: 5.7rem;
     height: 5.7rem;
     margin-top: 2rem;
 }

 .login p {
     font-size: 2.4rem;
     text-align: center;
     margin-top: 2.8rem;
     color: #ffffff;
 }

 .list {
     background: #ffffff;
     border-bottom: 1px solid #dcdcdc;
 }

 .list li {
     list-style: none;
 }

 .list li li:last-of-type a {
     border-bottom: none;
 }

 .list li a {
     font-size: 3.5rem;
     display: block;
     height: 8rem;
     color: #666666;
     text-decoration: none;
     line-height: 8rem;
     border-bottom: 1px solid #dcdcdc;
     background: url(../img/my/right.png) no-repeat right center;
     background-size: 1rem 1.5rem;
     margin-right: 2.4rem;
     margin-left: 4.4rem;
 }

 .btn {
     font-size: 3rem;
     display: inline-block;
     width: 100%;
     height: 8rem;
     background: #ffffff;
     color: #ff8a00;
     border: 1px solid #dcdcdc;
     text-align: center;
     line-height: 8rem;
     margin: 2.5rem 0rem;
 }