* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.box {
    width: 100%;
    max-width: 700px;
    /* 头部 */
    /* 主体 */
}

.box header {
    width: 100%;
    height: 5rem;
    padding: 0.5rem 4rem;
    display: flex;
    background-color: #ff8a00;
    flex-direction: row;
    justify-content: space-between;
}

.box header .title {
    flex: 1;
}

.box header .title a {
    display: block;
    width: 100%;
    height: 100%;
}

.box header .title a>img {
    height: 100%;
}

.box header .icon {
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box header .icon a {
    width: 3rem;
    height: 3.4rem;
}

.box header .icon a img {
    width: 100%;
    height: 100%;
}

.box main {
    width: 100%;
}

.box main .main_title {
    padding: 1rem 2rem;
    height: 5rem;
    width: 100%;
    font-size: 1.4rem;
    line-height: 3rem;
    border-bottom: 1px solid #ccc;
}

.box main .main_title span {
    font-size: 1.4rem;
    padding: 0 0.5rem;
}

.box main .main_title span:nth-of-type(1) {
    font-weight: 600;
}

.box main .register {
    width: 100%;
}

.box main .register ul li {
    padding: 0 2rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #333;
}

.box main .register ul li input {
    flex: 1;
    outline: none;
    border: 1px solid transparent;
    color: #333;
}

.box main .register ul li span {
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid #ccc;
}

.box main .register div {
    padding: 2rem 2rem;
}

.box main .register div button {
    width: 100%;
    height: 5rem;
    outline: none;
    border: 1px solid #ff8a00;
    background-color: #ff8a00;
    color: #fff;
    font-size: 1.6rem;
}